B2_APPLICATION_KEY_ID="<Your Backblaze Application Key ID>"
B2_APPLICATION_KEY="<Your Backblaze Application Key>"
B2_BUCKET_NAME="<Your Backblaze Bucket>"
B2_REGION="<Your Backblaze endpoint region, e.g. us-west-004>"
B2_PUBLIC_URL_BASE="https://<Your bunny.net Pull Zone domain, e.g. example-movies.b-cdn.net>"

TRANSLOADIT_KEY="<Your TransloadIt Auth Key>"
TRANSLOADIT_SECRET="<Your TransloadIt Auth Secret>"
TRANSLOADIT_TEMPLATE_ID="<Your TransloadIt Template ID>"

WEB_APPLICATION_HOST="<Your web application's domain, e.g. movies.example.com>"
