{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="https://releases.transloadit.com/uppy/v3.5.0/uppy.css">
    <style>
        /* Doesn't work :-( */
        .uppy-Dashboard--singleFile .uppy-Dashboard-Item-preview {
            height: 135px;
            width: 100%;
        }
    </style>
    <a href="{% url 'home' %}">Home</a>
    / <a href="{% url 'logout' %}">Log out</a>
    <hr>
    <div id="uploader">
        <h2>Upload a Video</h2>
        <form id="upload-form">
            {% csrf_token %}
            <h3>1. Select your video</h3>
            <div id="upload-div"></div>
            <h3>2. Give your video a title</h3>
            <input type="text" name="title" maxlength="256" required="" id="id_title">
            <h3>3. Upload your video</h3>
            <button id="upload-button" type="submit" disabled>Upload</button>
        </form>
    </div>

    <script type="module">
      import {
        Uppy,
        Dashboard,
        Form,
        Transloadit,
      } from 'https://releases.transloadit.com/uppy/v3.5.0/uppy.min.mjs'
      const uppy = new Uppy({
        restrictions: {
          maxNumberOfFiles: 1,
          allowedFileTypes: ["video/*"],
        }
      })
      .use(Form, {
        target: "#upload-form",
        getMetaFromForm: true,
        triggerUploadOnSubmit: true,
      })
      .use(Transloadit, {
        assemblyOptions (file) {
          return {
            params: {
              template_id: '616ddd57490646e886f682241ac5f1ef',
              auth: {
                key: 'bb1c8dee15c94ef999e0e8a3ee544f1d',
              },
              notify_url: '{{ notify_url }}',
            },
            fields: {
              title: file.meta.title,
            },
          }
        },
        waitForEncoding: false,
        alwaysRunAssembly: true,
      })
      .use(Dashboard, {
        width: 275,
        height: 275,
        thumbnailWidth: 175,
        trigger: '#browse',
        hideUploadButton: true,
        inline: true,
        target: '#upload-div'
      })
      .on('complete', ({ transloadit }) => {
        const formEl = document.querySelector('#upload-form');

        const formData = new FormData();
        formData.append('assembly_id', transloadit[0].assembly_id);
        formData.append('title', transloadit[0].fields.title);
        formData.append('csrfmiddlewaretoken', formEl.elements["csrfmiddlewaretoken"].value);

        // POST the assembly id to create a new video
        fetch('', {
          method: 'POST',
          body: formData,
        })
        .then(response => {
          if (response.ok) {
            console.log(`Fetch succeeded; url: ${response.url}`);

            // Go to detail page
            location.href = response.url;
          } else {
            console.log(`Fetch failed with status code: ${response.status}`);
          }
        })
        .catch(error => console.log(`Fetch failed: ${error}`));
      })
      .on('error', (error) => {
        console.error(error)
      })

      const titleEl = document.querySelector('#id_title');
      const uploadEl = document.querySelector('#upload-button');
      const dashboard = uppy.getPlugin('Dashboard');

      function updateUI() {
        uploadEl.disabled = (titleEl.value.length === 0 || uppy.getFiles().length === 0);
      }

      function basename(filename) {
        return filename.substring(0, filename.lastIndexOf('.')) || filename;
      }

      function onFileAdded(file) {
        if (!titleEl.value) {
          titleEl.value = basename(file.name);
        }
        updateUI();
      }

      function onFileRemoved(file) {
        if (titleEl.value === basename(file.name)) {
          titleEl.value = '';
        }
        updateUI();
      }

      uppy.on('file-added', onFileAdded);
      uppy.on('file-removed', onFileRemoved);
      titleEl.addEventListener('input', updateUI);
    </script>
{% endblock %}
