{% load static %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CatTube</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
</head>
<body>
<div class="container">
    <header>
        <h1>😺CatTube</h1>
        <p>Backblaze B2 Video Sharing Example</p>
        <hr>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <hr>
        <h2>Powered by:</h2>
        <div class="logo-strip">
            <a href="https://www.backblaze.com/b2">
                <img src="{% static 'images/horizontal-red-navy.png' %}"/>
            </a>
            <span></span>
            <a href="https://bunny.net/">
                <img src="{% static 'images/bunny-net.png' %}"/>
            </a>
            <span></span>
            <a href="https://www.vultr.com/">
                <img src="{% static 'images/vultr-logo.png' %}"/>
            </a>
            <span></span>
            <a href="https://transloadit.com/">
                <img src="{% static 'images/logos-transloadit-default.png' %}"/>
            </a>
            <span></span>
            <a href="https://uppy.io/">
                <img src="{% static 'images/logos-uppy-default.png' %}"/>
            </a>
        </div>
    </footer>
</div>
</body>
</html>
