{% load static %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CatTube</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
<div class="container">
    <header>
        <h1>😺CatTube</h1>
        <p>Backblaze B2 Video Sharing Example</p>
        <hr>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <hr>
        <h2>Powered by:</h2>
        <div class="logo-strip">
            <img src="{% static 'images/horizontal-red-navy.png' %}"/>
            <span></span>
            <img src="{% static 'images/bunny-net.png' %}"/>
            <span></span>
            <img src="{% static 'images/vultr-logo.png' %}"/>
            <span></span>
            <img src="{% static 'images/logos-transloadit-default.png' %}"/>
            <span></span>
            <img src="{% static 'images/logos-uppy-default.png' %}"/>
        </div>
    </footer>
</div>
</body>
</html>
